# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.dir/

# Pastas de build
build/
.cache/

# IDEs e Editores
.vscode/
.vs/
.idea/
*.suo
*.sln
*.swp

# Arquivos compilados (Objetos e Binários)
*.o
*.obj
*.pdb
*.ilk
*.a
*.lib
*.so
*.dll
*.out
*.app

# Logs e arquivos temporários
*.log
.system_generated/
Systems-Traduzido(EN).md
